body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    box-sizing: border-box;
}
/*----------- header -----------*/
.common {
    max-width: 1110px;
    margin: 0 auto;
    position: relative;
}
.rogo img {
    width: 277px;
    margin: 8px 0;
    vertical-align: middle;
}

.outer {
    display: table;
    width: 100%;
}
.inner {
    display: table-cell;
    vertical-align: middle;
}

.key-inq {
    text-align: right;
}
.inq {
    display: inline-block;
    text-align: left;
    padding: 24.3px 20px;
    color: #6C757D;
    position: absolute;
    right: 120px;
}
.tel-text {
    font-size: 13px;
    line-height: 19.2px;
}
.tel {
    font-size: 32px;
    font-weight: bold;
    line-height: 38.4px;
}
.key-inq .inner a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 14px 17px;
    border-color: #6c757d;
    border-radius: 5px;
    background-color: #6c757d;
    position: absolute;
    top: 26px;
    right: 0px;
}
/*------------ nav -------------*/
nav {
    text-align: center;
    height: 56px;
    line-height: 56px;
    background-color: #343A3F;
}
ul {
    list-style: none;
    margin: 0 auto;
}
li {
    display: inline-block;
}
nav ul li a {
    padding: 0 35px;
    color: rgba(255,255,255,.5);
}
a {
    display: inline-block;
    text-decoration: none;
}
a::hover {
    color: #E2E2E3;
    cursor: pointer;
}
/*------------ main ------------*/
.visuar {
    height: 600px;
    padding-top: 65px;
    background-image: url(./image/top-image.jpg);
}
.in {
    width: 1110px;
    margin: 0 auto;
}
.content {
    width: 550px;
    height: 300px;
    padding: 16px;
    border-radius: 5px;
    margin-left: auto;
    box-sizing: border-box;
    background-color: #FFFFFF;
}
.content h2 {
    font-size: 56px;
    font-weight: 300;
    margin-bottom: 8px;
    line-height: 70px;
}
.content p {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}
.content p:nth-child(3) {
    margin-bottom: 16px;
}
hr {
    margin: 32px 0 16px;
}
.content p:last-of-type{
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}
